@using SportStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Спорт-товары ";
}

@foreach (var p in @Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Description</p>
        <h4>@p.Price.ToString("# грн")</h4>
    </div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
